body {
    background-color: salmon;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

ol {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.controller {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200;
  height: 250
  
}